body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.sidebar {
    height: 100vh;
    width: 200px;
    background-color: #003366;
    color: white;
    position: fixed;
    padding: 20px;
}
.sidebar .logo-container {
    text-align: center;
    margin-bottom: 40px;
}
.sidebar img {
    width: 100px;
    margin-bottom: 10px;
}
.sidebar h2 {
    font-size: 20px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-weight: bold;
    padding-left: 10px;
}
.content {
    margin-left: 320px;
    padding: 20px;
}